
.trend-coin {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 5px;
}

.coin-column {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: flex-start;
}

.running-line {
    width: 1200px;
    height: 75px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 10px;
}

.marquee-line {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-left: 100%;
    animation: running-line 40s linear infinite;
}

.marquee-line:hover {
    animation-play-state: paused
}

@keyframes running-line {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-300%, 0); }
}
