
.search-autocomplete {
    position: relative;
    display: inline-block;
    width: 500px;
}

.autocomplete-items {
    background-color: white;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items .suggestion {
    color: black;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items .suggestion:hover,
.autocomplete-items .suggestion:hover div {
    background-color: #DDDDDD;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.suggestion {
    display: flex;
    flex-direction: row;
}


.dark-mode .autocomplete-items {
    background-color: var(--dm-element-color);
    border-color: var(--dm-pink-color);
}

.dark-mode .autocomplete-items .suggestion {
    color: var(--dm-text-main-color);
    background-color: var(--dm-element-color);
    border-bottom-color: var(--dm-element-hover-color);
}

.dark-mode .autocomplete-items .suggestion:hover,
.dark-mode .autocomplete-items .suggestion:hover div {
    background-color: var(--dm-element-hover-color);
    color: var(--dm-pink-color);
}

.dark-mode .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}