@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap');

body {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', 'Noto Sans', sans-serif;
    font-weight: 400;
    color: #263238;
    background-color: #ECEFF1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lang_btn,
.curr_btn,
.pagination-btn-prev,
.pagination-btn-next,
.coins-count {
    color: inherit;
    background-color: inherit;
    font-size: 1rem;
    font-weight: 100;
    cursor: pointer;
    border: 1px solid #607D8B;
}

/* header ========================================*/
.header {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 10px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.logoname_container {
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
}

.control_header {
    display: flex;
    justify-content: flex-end;
    flex-grow: 3;
    column-gap: 60px;
}

.logo_header {
    width: 50px;
    height: 50px;
    margin-right: 3%;
}

.name_header {
    display: flex;
    align-items: center;
}

.search-autocomplete {
    display: flex;
    align-items: center;
}

.search-autocomplete>input {
    display: block;
    max-width: 100%;
    height: 43%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 100;
    background-color: inherit;
    border: 1px solid #607D8B;
}

.lang_container,
.curr_container {
    position: relative;
    display: inline-block;
    margin: auto 0;
}

.lang_btn,
.curr_btn {
    padding: 10px;
}

.lang_dropdown,
.curr_dropdown {
    display: none;
    position: absolute;
    background: #CFD8DC;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.lang_dropdown a,
.curr_dropdown a {
    color: #263238;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.lang_dropdown a:hover,
.curr_dropdown a:hover {
    background-color: #607D8B;
}

.lang_container:hover .lang_dropdown,
.curr_container:hover .curr_dropdown {
    display: block;
    transition: 0.3s;
}

.lang_container:hover .lang_btn,
.curr_container:hover .curr_btn {
    background-color: #607D8B;
    transition: 0.3s;
}

.name_header {
    margin: 0px;
}

.darkmode_container {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.auth_header {
    display: block;
    margin: auto 0;
}

/* main ========================================*/
.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 999;
}

.tab_button {
    color: #607D8B;
    border: none;
    border-bottom: 5px solid transparent ;
}

.tab_button:hover {
    color: #263238;
    transition: 0.3s;
}
.tab_button:active {
    color: #263238;
    border-bottom: 5px solid #607D8B;
}

.pages_container {
    flex-grow: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mainpage_container {
    flex-grow: 999;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'list list gr'
        'list list news';
}

.newsmain_container {
    background-color: #a37eb9;
    grid-area: news;
}

.news_container {
    background-color: chocolate;
    flex-grow: 999;
}

.calculator_container {
    background-color: tomato;
    flex-grow: 999;
}

.chart_container {
    background-color: darkmagenta;
    flex-grow: 999;
}

.chart_main_container {
    background-color: darkslateblue;
    grid-area: gr;
}

.coins_list_container {
    grid-area: list;
    overflow-y: auto;
    max-height: calc(100vh - 260px);
}

.coins_list_container .header_container {
    background: #CFD8DC;
}

.one_coin_container,
.header_container,
.panel-block,
.pagination-block,
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

.current-page {
    margin: 0 5px;
}

.coin-logo-img{
    margin-right: 5px;
}

.coin_description {
    display: flex;
}

.coin-logo-img {
    width: 25px;
    height: 25px;
}

#market-cap,
#coin-id,
#total-volume-header {
    cursor: pointer;
}


/* footer ========================================*/
.footer {
    display: flex;
    flex-direction: row;
    height: 25px;
    margin-top: 10px;
}

.footer_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 25px;
    opacity: 0.65;
}

.git_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.git_link {
    text-decoration: none;
    color: inherit;
    font-weight: 100;
}

.year {
    display: block;
    margin: auto 0;
    font-weight: 100;
}